# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor/IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS files
.DS_Store

# application specific settings
glyph_debug/
debug_edge_detected.png
